@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');


.cocktail-container{
    height: max-content;
    background-color: black;
}

.cocktail-list-title h1{
    /* font-family: 'Dancing Script', cursive; */
    font-family: 'Poiret One', cursive;
    font-size: 150px;
    font-weight: 500;
}

 .cocktail{
    height:600px;
    width: 500px;
    border: #d8ba43 10px solid;
 }