@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');


.cocktail-container{
    height: max-content;
    background-color: black;
}

.cocktail-list-title h1{
    font-family: 'Poiret One', cursive;
    font-size: 150px;
    font-weight: 500;
    margin-top: 30px !important;
}

 .cocktail{
    height:350px;
    width: 300px;
    border: #d8ba43 7px solid;
 }

 .cocktail-title {
     font-size: 30px;
     font-weight: 600;
 }

 .cocktail-ingredients{
     font-size: 15px;
     font-weight: 400;
 }

 .download-menu-button-container{
     text-align: center;
 }

 .download-menu-button {
    height: 50px;
    width: 300px;
    font-size: 20px;
    font-weight: 700;
    background-color: #d8ba43;
}
 
.download-menu-button a:hover{
    color:black;
}

a {
    text-decoration: none;
  } 

 @media only screen and (max-width: 1184px){
    .cocktail-container{
        height: max-content;
    }

    .cocktail-list-title h1{
        font-size: 130px;
        text-align: center;
    }
}

@media only screen and (max-width: 992px){
    .cocktail-container{
        height: max-content;
    }

    .cocktail-list-title h1{
        font-size: 100px;
        text-align: center;
    }
}

@media only screen and (max-width: 592px){
    .cocktail-container{
        height: max-content;
    }

    .cocktail-list-title h1{
        font-size: 85px;
        text-align: center;
    }
}



