@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');


.cocktail-container{
    height: 1500px;
    background-color: black;
}

.cocktail-list-title h1{
    font-family: 'Poiret One', cursive;
    font-size: 150px;
    font-weight: 500;
}

 .cocktail{
    height:350px;
    width: 300px;
    border: #d8ba43 7px solid;
 }

 .cocktail-title {
     font-size: 30px;
     font-weight: 600;
 }

 .cocktail-ingredients{
     font-size: 15px;
     font-weight: 400;
 }