.contact-container{
    height: 1200px;
    background-image: url('../images/contactbg.jpg');
}

.contact-us-text{
    height: 200px;
}

.contact-us-text h1{
    font-size: 60px;
}

.contact-form-container{
    height: 700px;
    width: 50vw;
    position: absolute;
}

form{
    height: 700px;
    width: 50vw;
    position: absolute;
}

.anavailable-text{
    font-size: 12px;
    font-weight: 600;
}
