.level-1 {
    height: 65vh;
}

.name-level-1 {
    font-size: 100px;
}

.subname-level-1{
    margin-bottom: 0;
    font-size: 15px;
}

.level-2 {
    height: 100vh;
    background-image: url(../images/cocktail1.jpg);
    background-position: right top;
    background-attachment: fixed;
}

.cocktail-text {
    width: 40vw;
    font-weight: 700;
}

.cocktail-button {
    height: 50px;
    width: 300px;
    font-size: 20px;
    font-weight: 700;
    background-color: #d8ba43;
}
 
.cocktail-button a:hover{
    color:black;
}

.level-3 {
    height: 100vh;
    background-image: url(../images/masterclass1.jpg);
    background-position: bottom;
    background-attachment: fixed;
}

.level-4 {
    height: 100vh;
    background-image: url(../images/bar-service-1.jpg);
    background-position: bottom;
    background-attachment: fixed;
}

.team-level{
    height: 400px;
}

.team-level img{
    height: 200px;
    width: 200px;
}

.team-level-item{
    height: 300px;
    width: 300px;
}

.team-social-icons{
    width: 70px;
}