@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');


.masterclass-page-title{
    height: 250px;
}

.masterclass-page-title h1 {
    font-family: 'Poiret One', cursive;
    font-size: 150px;
    font-weight: 500;
}

.masterclass-container{
    height:max-content;
    border: #d8ba43 30px solid;
    margin: 50px;
    padding: 50px;
}

.masterclass-text{
    height: max-content;
}

.masterclass-image {
    height: 300px;
    width: 600px;
}

.masterclass-title{
    font-size: 40px;
}

.masterclass-information{
    font-size: 15px;
}

@media only screen and (max-width: 592px){
    .masterclass-page-title{
        height: 100px;
    }
    
    .masterclass-page-title h1 {
        font-size: 70px;
    }

    .masterclass-container{
        border: #d8ba43 10px solid;
        margin: 20px;
        padding: 20px;
    }

    .masterclass-image {
        height: 200px;
        width: 400px;
    }

    .masterclass-title{
        font-size: 30px;
    }
    
    .masterclass-information{
        font-size: 15px;
        width: 80%;
    }

}