nav{
    height: 50px;
}

.dropdown-toggle::after {
    color: white;
}

.toggle-icon{
    height: 40px;
    width: 50px;
    padding: 0;
    background-color: white;
    position: absolute;
    left: 80%;
}

.collapse{
    background-color: black;
}

.navbar-logo {
    height: 80px;
}

.navbar-logo img{
    height: 70px;
    width: 200px;
}

.collapse-menu{
    margin-top: 400px;
    width: 100vw;
    height: max-content;
    text-align: center;
    font-size: 22px;
}

.dropdown-menu {
    background-color: white;
    text-align: center;
    font-size: 18px;
}


@media only screen and (max-width:768px) {
   .main-test-menu{
       display: none;
   }

}

@media only screen and (min-width:768px) {
    .collapse-menu{
        display: none;
    }

 }