nav{
    height: 40px;
}

.dropdown-toggle::after {
    color: white;
}

.toggle-icon{
    background-color: white;
    position: absolute;
    left: 80%;
}

.collapse{
    background-color: black;
}

@media only screen and (max-width:768px) {
   .main-test-menu{
       display: none;
   }
}

.navbar-logo {
    height: 80px;
}

.navbar-logo img{
    height: 70px;
    width: 200px;
}