nav{
    height: 65px;
}

.navbar-brand img{
    height: 50px;
    width: 140px;
}

.dropdown-toggle::after {
    color: white;
}

.toggle-icon{
    background-color: white;
    position: absolute;
    left: 80%;
}

.collapse{
    background-color: black;
}

@media only screen and (max-width:768px) {
   
}
