a {
    text-decoration: none;
} 

.main-menu {
    height: 60px;
}

ul{
    list-style: none;
}

.logo{
    height: 50px;
    width: 160px;
}

#dropdown-basic{
    padding: 0 ;
    border: none;
    flex-direction: row;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
}

#dropdown-basic:hover{
    background-color: black;
    border: black;
}

.dropdown-toggle::after{
    margin-left: 0;
}

.dropdown-item a{
    color: black ;
    font-weight: 600;
}

@media only screen and (max-width:950px) {
    li ,  #dropdown-basic{
        display: none;
    }

    .logo {
        height: 40px;
        width: 130px;
    }

    .mobile-menu-icon {
        font-size: 30px;
    }

    .mobile-menu-button{
        border: none;
        position: absolute;
        left: 85%;
    }
}
