a {
    text-decoration: none;
} 

.main-menu {
    height: 60px;
}

ul{
    list-style: none;
}

.logo{
    height: 50px;
    width: 160px;
}

#dropdown-basic{
    padding: 0 ;
    border: none;
    flex-direction: row;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
}

#dropdown-basic:hover{
    background-color: black;
    border: black;
}

.dropdown-toggle::after{
    margin-left: 0;
}

.dropdown-item a{
    color: black ;
    font-weight: 600;
}


