.team-container{
    height: max-content;
}

.team-bg-image{
    height: 300px;
    width: 100%;
    background-image: url('../images/contactbg.jpg');
    background-size: cover;
    background-position: center right;
}

.meet-team-text{
    height: 300px;
    width: 40vw;
}

.meet-team-text h1{
    font-size: 50px;
    font-weight: 700;
}

.about-us-container{
    height: 600px;
}

.about-us-image{
    height: 400px;
    width: 600px;
    border:10px solid #d8ba43 ;
}

.about-us-text{
    height: 400px;
    width: 400px;
}

.team-members-container {
    height: 600px;
}

.team-members-image , .team-members-item {
    height: 300px;
    width: 300px;
}

.team-members-main-heading h1{
    font-size: 50px;
    font-weight: 700;
}

.team-members-main-heading {
    height: 150px;
}
